<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TKSCHEDULEUOFNET48.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <!--<add name="dbconn" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TKSCHEDULEUOF;uid=Sn0AvH6cos8wc8h1mcfNJw==;pwd=0L137pRGEx25J2PLcI4uOg=="/>
    <add name="dberp" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TK;uid=Sn0AvH6cos8wc8h1mcfNJw==;pwd=0L137pRGEx25J2PLcI4uOg=="/>-->

    <add name="dbconn" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TKSCHEDULEUOFNET48;uid=UGu2uwcwHt/N98rW7MaXVQ==;pwd=gVcCITHRExf3RGf+qJ0M0Q=="/>
    <add name="dberp" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TK;uid=UGu2uwcwHt/N98rW7MaXVQ==;pwd=gVcCITHRExf3RGf+qJ0M0Q=="/>

    <add name="dbUOF" providerName="System.Data.SqlClient" connectionString="server=192.168.1.223;database=UOF;uid=VvM7eHgGf7TGQRudVuJwCA==;pwd=qtMgV07lYaqWBDsTuIjnEp7JVUlPAGZ5S0xHT5xQpgA="/>

    <add name="connectionstring" connectionString="data source='192.168.1.223';initial catalog='UOF';User Id='TKUOF';Password='TKUOF123456';Max Pool Size=300" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <applicationSettings>
    <TKSCHEDULEUOFNET48.Properties.Settings>
      <setting name="TKSCHEDULEUOFNET48_Auth_Authentication" serializeAs="String">
        <value>https://eip.tkfood.com.tw/UOF/PublicAPI/System/Authentication.asmx</value>
      </setting>
      <setting name="TKSCHEDULEUOFNET48_BPM_Wkf" serializeAs="String">
        <value>https://eip.tkfood.com.tw/UOF/publicapi/wkf/wkf.asmx</value>
      </setting>
    </TKSCHEDULEUOFNET48.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
